# Ganti dengan koneksi PostgreSQL kamu (lokal atau Supabase/Neon)
DATABASE_URL="postgresql://user:password@localhost:5432/katalog_db"
# DIRECT_URL digunakan untuk migrasi Prisma direct connection
DIRECT_URL="postgresql://user:password@localhost:5432/katalog_db"

# NextAuth
NEXTAUTH_SECRET="ganti-dengan-string-acak-yang-panjang"
NEXTAUTH_URL="http://localhost:3000"

